langchain==0.2.14
langchain-community==0.2.12
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
pydantic==2.8.2
python-dotenv==1.0.1
pypdf==4.3.1
unstructured==0.15.5
beautifulsoup4==4.12.3
requests==2.32.3
openai==1.43.0
streamlit==1.36.0
ragas==0.1.20
pandas==2.2.2
numpy==1.26.4
