langchain
langchain-community
faiss-cpu
sentence-transformers
pydantic
python-dotenv
pypdf
unstructured
beautifulsoup4
requests
openai
streamlit
ragas
pandas
numpy
tiktoken
huggingface_hub
transformers
